<!DOCTYPE html>
<html ng-app="prettyAdminApp">
<head>
<title>Pretty admin</title>
<script type="text/javascript" src="/bundles/prettyadmin/js/angular/source/angular.min.js"></script>
<script type="text/javascript" src="/bundles/prettyadmin/js/angular/controllers/controllers.js"></script>
</head>
<body ng-controller="EntityCtrl">
{% block header %}{% endblock %}
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
