<ul>
    <li><a href="{{ path('pretty_admin_entity_show', { 'entity' : entityName, 'id' : id }) }}">Show</a></li>
    <li><a href="{{ path('pretty_admin_entity_edit') }}">Edit</a></li>
    <li><a href="{{ path('pretty_admin_entity_delete') }}">Delete</a></li>
</ul>