{% extends 'PrettyAdminBundle:Layout:pretty_admin.html.twig' %}

{% block content %}
<div class="filter">
    Filter <input type ng-model="filter_entity">
</div>
<table>
    <tr>
        <th ng-repeat="field in fields">
            [[ field ]]
        </th>
    </tr>
    <tr ng-repeat="entity in entities | filter:filter_entity">
        <td ng-repeat="field in fields">[[ entity[field] ]]</td>
    </tr>
</table>
{% endblock %}
